<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Tabla de datos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Language" content="es" />
    <meta name="description" content="Encuentra estadísticas detalladas de los equipos de fútbol en nuestra tabla de datos. ¡Explora los resultados y descubre quién es el equipo más fuerte!" />
    <meta name="keywords" content="fútbol, equipos, tabla, estadísticas" />
    <meta name="author" content="Julio Barrios" />
    <style>
      /* Estilos para la tabla */
      table {
        width: 80%;
        margin: auto;
        background-color: #f5f5f5;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
      
      th, td {
        padding: 10px;
        text-align: center;
      }

      th {
        background-color: #4CAF50;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      table tr:nth-child(-n+4) {
        background-color: #a5c7a6;
        color: white;
      }

      table tr:nth-last-child(-n+4) {
        background-color: #eca9a4;
        color: white;
      }

      /* Estilos generales */
      body {
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
      }

      /* Estilos para pantallas de menor tamaño */
      @media only screen and (max-width: 768px) {
        table {
          width: 100%;
        }

        td:nth-of-type(1),
        td:nth-of-type(2),
        td:nth-of-type(3),
        td:nth-of-type(4),
        td:nth-of-type(5),
        td:nth-of-type(8) {
          display: table-cell;
        }

        td:nth-of-type(6),
        td:nth-of-type(7) {
          display: none;
        }

        th:nth-of-type(1),
        th:nth-of-type(2),
        th:nth-of-type(3),
        th:nth-of-type(4),
        th:nth-of-type(5),
        th:nth-of-type(8) {
          display: table-cell;
        }

        th:nth-of-type(6),
        th:nth-of-type(7) {
          display: none;
        }
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Tabla de datos</h1>
    </header>

    <table>
      <caption>Tabla con datos de equipos de fútbol</caption>
      <thead>
        <tr>
          <th scope="col">Equipo</th>
          <th scope="col">PJ</th>
          <th scope="col">G</th>
          <th scope="col">E</th>
          <th scope="col">P</th>
          <th scope="col">GF</th>
          <th scope="col">GC</th>
          <th scope="col">Pts</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{teamName}}</td>
            <td>{{pj}}</td>
            <td>{{g}}</td>
            <td>{{e}}</td>
            <td>{{p}}</td>
            <td>{{gf}}</td>
            <td>{{gc}}</td>
            <td>{{pts}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Scripts -->
    <script src="scripts.js"></script>

  </body>

</html>
